.gitignore
__pycache__/*.pyc

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/omnes.iml

.idea/workspace.xml

*.xml

*.pdf

*.txt

omnes_1000.pdf

omnes_800.pdf

*.pdf

*.pdf

omnes_delta_0_positive.pdf

omnes_fitA.pdf

omnes_fitB.pdf
